/* BODY MAP */

.bodyMapScene {
    background: linear-gradient(rgba(40,40,43,0.9), rgba(40,40,43,0.9)), url("images/neurons.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
}
.bodyMap {
    max-width: 70em;
    text-align: center;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}
.bodyMap h2 {
    color: #FFFFFF;
    margin-bottom: 5px;
}
.bodyMap label {
    display: inline-block;
    color: #FFFFFF;
    margin-right: 5px;
}
.bodyMap select {
    background: none;
    padding: 2px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    cursor: pointer;
}
.bodyMap option {
    background: #28282B;
}
.bodyMap button {
    background-color: #353935;
    width: 10em;
    height: 2em;
    border-radius: 10px;
}
.bodyMap button:hover {
    outline: 2px solid #00FFFF;
    cursor: pointer;
}
.mapDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 35em;
    margin-top: 1em;
}
.partsLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 35em;
}
.partsContent {
    text-align: left;
    width: 20em;
    max-height: 32em;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #71797E #28282B;
    margin-right: 1em;
}
.mapDiagram {
    background-size: 100% 100%;
    min-width: 16em;
    min-height: 35em;
    width: 16em;
    height: 35em;
    margin: 1em;
    border-radius: 5em;
}
.mapDiagram img {
    width: 100%;
    height: 100%;
}
.partsRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 35em;
}
.partsImage {
    width: 20em;
    max-height: 32em;
    margin-left: 1em;
}
.partsImage img {
    width: 100%;
    max-height: 32em;
}