/* COMMENTS LIST */

.commentsList {
    margin-left: 1em;
}
.commentPreview {
    padding: 0.5em;
    margin-bottom: 1em;
}
.commentPreview:hover {
    box-shadow: 5px 5px 15px #36454F;
}
.commentPreview h4 {
    color: #FFFFFF;
}
.commentPreview p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.commentPreview span {
    font-size: 1.2em;
    color: #FFFFFF;
    background: #353935;
    vertical-align: middle;
    margin-right: 0.25em;
}