/* COMMENTS */

.commentsScene {
    background: linear-gradient(rgba(40,40,43,0.9), rgba(40,40,43,0.9)), url("images/neurons.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
}
.comments {
    max-width: 70em;
    margin: 0 auto;
    padding: 2em;
}
.comments h2 {
    color: #FFFFFF;
}
.comments h3 {
    color: #FFFFFF;
}
.comments p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.comments span {
    color: #FFFFFF;
}
.comments label {
    display: inline-block;
    text-align: left;
    color: #FFFFFF;
    width: 5em;
    margin-bottom: 1.5em;
}
.comments input {
    background: #28282B;
    width: 30em;
    padding: 0.5em;
    border: 1px solid #FFFFFF;
}
.comments textarea {
    background: #28282B;
    width: 100%;
    height: 10em;
    padding: 0.5em;
    border: 1px solid #FFFFFF;
    margin-bottom: 1.5em;
}
.comments button {
    font-size: 1em;
    color: #FFFFFF;
    width: 8em;
    height: 2em;
    background: #353935;
    border-radius: 1em;
    font-weight: bold;
}
.comments button:hover {
    outline: 2px solid #00FFFF;
    cursor: pointer;
}