/* DISCUSSIONS LIST */

.discussionPreview {
    padding: 0.5em;
    margin-bottom: 1em;
}
.discussionPreview:hover {
    box-shadow: 5px 5px 15px #36454F;
}
.discussionPreview h3 {
    color: #FFFFFF;
}
.discussionPreview h4 {
    color: #FFFFFF;
}
.discussionPreview p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.discussionPreview span {
    font-size: 1.2em;
    color: #FFFFFF;
    background: #353935;
    vertical-align: middle;
    margin-right: 0.25em;
}
.discussionPreview a {
    text-decoration: none;
}