/* DISCUSSION DETAILS */

.discussionDetailsScene {
    background: linear-gradient(rgba(40,40,43,0.9), rgba(40,40,43,0.9)), url("images/neurons.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
}
.discussionDetails {
    max-width: 70em;
    margin: 0 auto;
    padding: 2em;
}
.discussionDetails h2 {
    color: #FFFFFF;
}
.discussionDetails h3 {
    color: #FFFFFF;
}
.discussionDetails p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.discussionDetails button {
    color: #FFFFFF;
    background: #353935;
    border-radius: 1em;
    font-weight: bold;
}
.discussionDetails button:hover {
    outline: 2px solid #00FFFF;
    cursor: pointer;
}
.discussionDetails span {
    font-size: 1.2em;
    color: #FFFFFF;
    background: #353935;
    vertical-align: middle;
    margin-right: 0.25em;
}
.discussionButtons {
    float: right;
}
.discussionButtons button {
    width: 8em;
}
.discussionDetails label {
    display: inline-block;
    color: #FFFFFF;
    margin-right: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.discussionDetails select {
    background: none;
    padding: 0.5em;
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    cursor: pointer;
}
.discussionDetails option {
    background: #28282B;
}