/* DISCUSSIONS */

.scene {
    background: linear-gradient(rgba(40,40,43,0.9), rgba(40,40,43,0.9)), url("images/neurons.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
}
.discussions {
    max-width: 70em;
    margin: 0 auto;
    padding: 2em;
}
.discussions h2, button {
    display: inline-block;
}
.discussions h2 {
    color: #FFFFFF;
    margin-bottom: 10px;
}
.discussions button {
    color: #FFFFFF;
    background: #353935;
    border-radius: 16px;
    font-weight: bold;
}
.discussions button:hover {
    outline: 2px solid #FFFFFF;
    cursor: pointer;
}
.discussions label {
    display: inline-block;
    color: #FFFFFF;
    margin-right: 5px;
    margin-bottom: 15px;
}
.discussions select {
    background: none;
    padding: 2px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    cursor: pointer;
}
.discussions option {
    background: #28282B;
}