/* EDIT */

.editScene {
    background: linear-gradient(rgba(40,40,43,0.9), rgba(40,40,43,0.9)), url("images/neurons.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
}
.edit {
    max-width: 35em;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}
.edit h2 {
    color: #FFFFFF;
    margin-bottom: 1em;
}
.edit label {
    display: inline-block;
    text-align: left;
    color: #FFFFFF;
    width: 5em;
    margin-bottom: 1.5em;
}
.edit input {
    background: #28282B;
    width: 30em;
    padding: 0.5em;
    border: 1px solid #FFFFFF;
}
.edit textarea {
    background: #28282B;
    width: 36em;
    height: 20em;
    padding: 0.5em;
    border: 1px solid #FFFFFF;
    margin-bottom: 1.5em;
}
.edit button {
    font-size: 1em;
    color: #FFFFFF;
    width: 8em;
    height: 2em;
    background: #353935;
    border-radius: 1em;
    font-weight: bold;
}
.edit button:hover {
    outline: 2px solid #00FFFF;
    cursor: pointer;
}