/* MAP */

.mapScene {
    background: #28282B;
    min-width: 100vw;
    min-height: 100vh;
}
.map {
    max-width: 70em;
    text-align: center;
    margin: 0 auto;
    padding: 2em;
}
.map h2 {
    color: #FFFFFF;
    margin-bottom: 5px;
}
.map label {
    display: inline-block;
    color: #FFFFFF;
    margin-right: 5px;
}
.map select {
    background: none;
    padding: 2px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    cursor: pointer;
}
.map option {
    background: #28282B;
}
.map button {
    background-color: #393539;
    width: 10em;
    height: 2em;
    border-radius: 10px;
}
.map button:hover {
    outline: 2px solid #FFFFFF;
    cursor: pointer;
}
.mapDetails {
    display: flex;
    justify-content: center;
}
.partsLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mapDiagram {
    width: 15em;
    height: 35em;
    margin: 2em;
}
.mapDiagram img {
    width: 100%;
    height: 100%;
}
.partsRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}