@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* EVERYTHING */

* {
    margin: 0;
    font-family: "Quicksand";
    color: #00FFFF;
}
  
/* NAVBAR */
  
.navbar {
    background-color: #28282B;
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #d3d3d3;
}
.navbar h1 {
    font-size: 25px;
    color: #00FFFF;
}
.navbar .links {
    margin-left: auto;
}
.navbar a {
    margin-left: 30px;
    text-decoration: none;
}
.navbar a:hover {
    color: #FFFFFF;
}
  
/* CONTENT */
  
.content {
    overflow: hidden;
}

/* ANIMATIONS */

.show.slideInRight {
    animation-name: slideInRight;
}
.show.slideInLeft {
    animation-name: slideInLeft;
}
.show.slideInBottom {
    animation-name: slideInBottom;
}

.show.animate-stagger-short {
    animation-delay: 0.1s;
}
.show.animate-stagger-long {
    animation-delay: 0.2s;
}

@keyframes slideInRight {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInLeft {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInBottom {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.hide {
    opacity: 0;
}
.show {
    animation: 1.5s ease both;
}