@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* EVERYTHING */

* {
  background-color: #28282B;
  margin: 0;
  font-family: "Quicksand";
  color: #00FFFF;
}

/* NAVBAR */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #d3d3d3;
}
.navbar h1 {
  font-size: 25px;
  color: #00FFFF;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #FFFFFF;
}

/* CONTENT */

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* HOME */

.home h2 {
  color: #FFFFFF;
}

/* DISCUSSIONS */

.discussions h2 {
  color: #FFFFFF;
}

/* DISCUSSIONS LIST */

.discussionPreview {
  padding: 5px 5px;
  margin: 15px 0px;
}
.discussionPreview:hover {
  box-shadow: 5px 5px 15px #36454F;
}
.discussionPreview h3 {
  color: #FFFFFF;
}
.discussionPreview h4 {
  color: #FFFFFF;
}
.discussionPreview p {
  margin-top: 5px;
  margin-bottom: 10px;
}
.discussionPreview button {
  color: #FFFFFF;
}
.discussionPreview span {
  font-size: 10px;
  color: #FFFFFF;
  margin-right: 5px;
}
.discussionPreview a {
  text-decoration: none;
}

/* DISCUSSION DETAILS */

.discussionDetails h2 {
  color: #FFFFFF;
}
.discussionDetails h3 {
  color: #FFFFFF;
}
.discussionDetails p {
  margin-top: 5px;
  margin-bottom: 10px;
}